<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <style>
        body {
            border: 1px solid black;
            width: 75%;
            margin: 0px auto;
        }

        .header {
            width: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;

        }

        .header img {
            width: 100px;
            height: 100px;
        }

        h1 {
            font-size: 3rem;
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-transform: uppercase;
            margin: 0px;

        }

        h2 {
            font-size: 2rem;
            text-decoration: underline dotted;
            font-weight: normal;
        }

        #studentInfo {
            display: flex;
            justify-content: space-between;
            width: 75%;
        }


        table {
            font-family: Georgia, 'Times New Roman', Times, serif;
            border-collapse: collapse;
            width: 100%;
            font-size: 1.3rem;

        }

        main {
            padding-left: 1rem;
            padding-right: 1rem;
            box-sizing: border-box;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        footer>div>p {
            text-align: center;
            color: red
        }

        footer>div {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 10px;
        }

        .imgContainer {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            width: 25%
        }

        .imgContainer img {
            width: 100px;
            height: 50px;
        }

        .display {
            display: none;
        }
    </style>
</head>

<body>
    <header class="header">
        <img src="https://cdn-prod.voxy.com/wp-content/uploads/2012/10/school-1.jpg" alt="" />
        <h1>Transcript</h1>
        <section id="studentInfo">
            <h3>
                Name: <%= results[0].student %>
            </h3>
            <h3>
                Roll: <%= results[1].id %>
            </h3>
            <h3>
                CT: <%= results[9].ct %>
            </h3>
        </section>
    </header>
    <main class="header">
        <table id="resultInfo">
            <tr>
                <th>Subject</th>
                <th>Marks</th>
                <th>Grade</th>
            </tr>
            <tr>
                <td>Bangla</td>
                <td>
                    <%= results[2].bangla.score %>
                </td>
                <td>
                    <%= results[2].bangla.grade %>
                </td>
            </tr>
            <tr>
                <td>English</td>
                <td>
                    <%= results[3].english.score %>
                </td>
                <td>
                    <%= results[3].english.grade %>
                </td>
            </tr>
            <tr>
                <td>Math</td>
                <td>
                    <%= results[4].math.score %>
                </td>
                <td>
                    <%= results[4].math.grade %>
                </td>
            </tr>
            <tr>
                <td>Science</td>
                <td>
                    <%= results[5].science.score %>
                </td>
                <td>
                    <%= results[5].science.grade %>
                </td>
            </tr>
            <tr>
                <td>Social Science</td>
                <td>
                    <%= results[6].socialScience.score %>
                </td>
                <td>
                    <%= results[6].socialScience.grade %>
                </td>
            </tr>
            <tr>
                <td>GK</td>
                <td>
                    <%= results[7].gk.score %>
                </td>
                <td>
                    <%= results[7].gk.grade %>
                </td>
            </tr>
            <tr>
                <td>IT</td>
                <td>
                    <%= results[8].It.score %>
                </td>
                <td>
                    <%= results[8].It.grade %>
                </td>
            </tr>
        </table>
    </main>
    <footer>
        <div>
            <p> **@copyright: myschool.com. Any Change is strictly prohibited**</p>
            <div class="imgContainer">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRJRZduIrzENX0q62WpjaMRruWi94KmnteWQ&usqp=CAU"
                    alt="sign" />
            </div>
        </div>
        <div id="buttonDiv">
            <button id="send" type="button"> Send</button>
            <button id="sendBack" type="button"> Return </button>
        </div>

    </footer>
    <script>
        let button = document.getElementById("send");
        let button1 = document.getElementById("sendBack");
        button.addEventListener("click", () => {
            button.classList.add("display")
            button1.classList.add("display")
            fetch('http://localhost:5000/teacher/pdf')
                .then(res => {
                    if (res.status === 200) {
                        alert("PDF Generation Successful")
                    }
                })

        })
        button1.addEventListener("click", () => {
            window.history.back()
        })

    </script>
</body>

</html>